name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - name: Run Lint
        run: npm run lint:check

  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - name: Run Build
        run: npm run build
      - name: Upload build result
        uses: actions/upload-artifact@v4
        with:
          name: build-result
          path: .scaffold/build

  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - name: Run Tests with Coverage
        run: npm run test:coverage
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/
